* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(192 198 213), rgb(39 52 98 / 0.70)),url(images/1.png);
    position: inherit;
}
html {
    scroll-behavior: smooth;
  }
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(39 52 98 / 0.90);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: inline;
}


.navbar li{
    float: right;
    list-style-type: none;
    text-align: center;
}

.navbar li a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    margin-top: -45px;
}

    .navbar li a:hover:not(.active) {
        background-color: #008bff;
        transition: 0.5s;
    }

.navbar img{
    width: 260px;
    height: 50px;
    overflow: hidden;
    margin-top: 25px;
    margin-left: 20px;
    list-style-type: none;
}
.text-box{
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 56px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #ffffff; 
}
.herro-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.herro-btn:hover {
    border: 1px solid #008bff;
    background: #008bff;
    transition: 0.5s;
}                
nav .fa{
    display: none;
}

@media screen and (max-width: 1130px){
    .navbar {
        display: none;
    }
}
.apie-imone h1{
    font-size: 30px;
    color: #ffffff;
    text-align: right;
    margin: -7% auto;
    padding-bottom: 10%;
    padding-right: 5%;
}
.eilute {
    margin-top: 10%;
    display: flex;
}
.ivadas-1 {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgb(50 115 236 / 0.32), rgb(15 28 72 / 0.70));
    padding: 200px 10px;
    margin-bottom: 10%;
    margin-left: 0%;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}
.ivadas-2 img{
    position: relative;
    z-index: -1;
    display: block;
}
.row ul{
    text-align: center;
    margin-top: -100px;
    margin-bottom: 100px;
}

.row li {
    margin: 10px 90px;
    display: inline-block;
    font-size: 30px;
    color: #008bff;
    padding: 20px 20px;
    border: 3px solid #008bff;
    background: #ffffff;
    box-shadow: 0 0 5px #333;
    transition: .5s;
}
    .row li:hover {
        color: #fb801f;
        border: 3px solid #fb801f;
        padding: 30px 30px;
    }
.Planuokis {
    width: 100%;
    height:600px;
    background-image: url(images/shutterstock_1182038062.jpg);
    background-repeat: no-repeat;
}
.tekstas-1 h1 {
    font-size: 30px;
    text-align: justify;
    position: center;
    margin-left: 57%;
    margin-right: 5%;
    color: #ffffff;
}
.tekstas-1 p {
    text-align: justify;
    position: center;
    margin-left: 55%;
    margin-right: 5%;
    color: #ffffff;
    line-height: 30px;
    font-size: 18px;
    padding-top: 1%;
}
.eilute-1 {
    display: flex;
}
.Konsultuokis h1 {
    font-size: 30px;
    color: #ffffff;
    text-align: right;
    padding-bottom: 3%;
    padding-right: 5%;
    margin-top: -7%;
}
.tekstas-2 {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(rgb(50 115 236 / 0.32), rgb(15 28 72 / 0.70));
    padding: 200px 10px;
    margin-left: 0%;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}
.photo-1 {
    float: right;
    position: relative;
    display: block;
}
.img-slider {
    position: relative;
    margin: 10px;
    margin-top: 10%;
}    
.img-slider .slide {
    z-index: 1;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.img-slider .slide img {
    z-index: 1;
    background: rgb(39 52 98 / 0.50)
}
.img-slider .slide .tekstas-3{
    position: absolute;
    top: 0;
    text-align: justify;
}
.img-slider .slide .tekstas-3 h1 {
    font-size: 30px;
    color: #ffffff;
    margin-left: 8%;
    margin-top: 15%;
}
.img-slider .slide .tekstas-3 p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    padding: 70px;
    padding-top: 1%;
}
.img-slider .navigation {
    position: absolute;
    z-index: 1;
    display: flex;
    margin-bottom: 1%;
    padding-top: 43%;
    left: 44%;
    transform: translateX(-50%);
}
.img-slider .navigation .btn {
    background: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
.img-slider .navigation .btn.active {
    background: #008bff;
    box-shadow:0 0 2px rgb(15 28 72 / 0.70);
}